<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<style>
body {
    font-family: 'Raleway';
}
</style>
</head>
<body>
<div class="containerfluid">
    <div class="banner" style="width:100%;">
        <img src="http://antuzon.ru/wall/3/pyatno_fon_svet_ten_1920x1200.jpg" class="fit banner-image" >
        <div class="banner-title">
            <h1><%= @issue.title %></h1>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
    <ul class="nav nav-pills nav-stacked col-md-1">
      <%= link_to raw("<i class=\"glyphicon glyphicon-chevron-left\">Back</i>"), :back , :class=> "custom-navbar-buttons" %>

    </ul>

    <div class="content col-md-10" style="font-size: 16px">
        
      <%= @issue.content %>
    </div>
    </div>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/app/assets/javascripts/login.js"></script>




</body>



</html>