<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  
  
<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar-colored sidebar open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle">
            <i class="icon-material-sidebar-arrow"></i>
        </button>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
        </div>
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
            john.doe@gmail.com
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Exit
                    </a>
                </li>
            </ul>
        </li>
                <li>
            <a href="">
                
                
            </a>
        </li>
        <li>
            <a href="/create/<%= raw @userid %>/issue">
                <i class="glyphicon glyphicon-plus-sign"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Activity
            </a>
        </li>
        <li>
            <a href="">
                
                
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/index/user/<%= raw @userid %>">
                <i class="glyphicon glyphicon-warning-sign"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today Activities
                <span class="sidebar-badge badge-circle"><%= raw @issuescounttoday %></span>
            </a>
        </li>      
        <li class="divider"></li>
        <li>
            <a href="/buhafta/user/<%= raw @userid %>">
                <i class="glyphicon glyphicon-step-forward"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Week Activities
                <span class="sidebar-badge badge-circle"><%= raw @issuescountthisweek %></span>
            </a>
        </li>
        <li>
            <a href="/gelecekzaman/user/<%= raw @userid %>">
                <i class="glyphicon glyphicon-fast-forward"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Later Activities
                <span class="sidebar-badge badge-circle"><%= raw @issuescountnextweeks %></span>
            </a>
        </li>
        <li class="divider"></li>


        <li>
            <a href="/tamamlananlar/user/<%= raw @userid %>">
                Completed Activities
                <span class="sidebar-badge"><%= raw @issuescountcompleted %></span>
            </a>
        </li>
        <li>
            <a href="/suresigecenler/user/<%= raw @userid %>">
                Time-out Activities
                <span class="sidebar-badge"><%= raw @issuescountolds %></span>
            </a>
        </li>

    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->
    
    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>

<div class="wrapper">
    <div class="container">
        
		<div class="row">

			<div class="[ col-xs-5 col-sm-offset-3 col-sm-12 ]">
			    <div class="page-header">
                       <h1>Time-out Activities:</h1>

          </div>
          
      <% @issuestimeout.each do |issue| %>
           <ul class="event-list">
  					<li>
  						<time datetime="2014-07-20">
  							<span class="day"><%= issue.dueDate.to_datetime.strftime("%d") %></span>
  							<span class="month"><%= issue.dueDate.to_datetime.strftime("%b") %></span>
  							<span class="year"><%= issue.dueDate.to_datetime.strftime("%Y") %></span>
  							<span class="time">ALL DAY</span>
  						</time>
  						
  						<div class="info">
  							<h2 class="title"><%= issue.title %></h2>
  							<hr class="divider">
  							<p class="desc"><%= issue.content %></p>
  						</div>
  						<div class="social">
  							<ul>
  							    <li class="showdetail" style="width:33%;"><a href="/show/user/<%= raw issue.user_id%>/issue/<%= raw issue.id%>"><span class="glyphicon glyphicon-search"></span></a></li>
  								<li><a></a></li>
  								<li class="completed" style="width:33%;"><%= button_to 'Completed' ,{ :controller => 'issues', :action => 'complete', :id => issue.id , :class =>  "btn btn-danger btn-xs"}, 
                                                        data: { :confirm => 'Are you sure?', :remote => true} %></li>
  								<li><a></a></li>
  								 <li class="delete" style="width:33%;"><%= button_to 'Del' ,{ :controller => 'issues', :action => 'destroy', :id => issue.id , :class =>  "btn btn-danger btn-xs"}, 
                                                        data: { :confirm => 'Are you sure?', :remote => true} %></li>
  								
  							</ul>
  							
  						</div>
  					</li>
  				</ul>

      <%end%>
                
			</div>
		</div>
	</div>

<!--    
  <div id="footer">
      <div class="container">
          <div class="row">
              <h3 class="footertext">About Us:</h3>
              <br>
                <div class="col-md-4">
                  <center>
                    <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                    <br>
                    <h4 class="footertext">Programmer</h4>
                    <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                  </center>
                </div>
                <div class="col-md-4">
                  <center>
                    <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                    <br>
                    <h4 class="footertext">Artist</h4>
                    <p class="footertext">All the images here are hand drawn by this man.<br>
                  </center>
                </div>
                <div class="col-md-4">
                  <center>
                    <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                    <br>
                    <h4 class="footertext">Designer</h4>
                    <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                  </center>
                </div>
              </div>
              <div class="row">
              <p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></center></p>
          </div>
      </div>
  </div>
  </div>
</div>

<!--Photoshopta goruntuyu almak için command artı sağdan penceresine bas ustte goruntu menusunden kırp'ı sec resim kuculecek onu file da web icin kaydet 'e bas-->


<div>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p><p>...</p>
  <p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p><p>...</p>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/app/assets/javascripts/home.js"></script>










</body>



</html>







    
