<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bootstrap - Prebuilt Layout</title>



<!-- Bootstrap -->

<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">





<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>



<body>

<div class="containerfluid">

    <div class="banner" style="width:100%; background-color:#996699; -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 3);" >

        <!--<img src="http://more-sky.com/data/out/8/IMG_287920.png" class="fit banner-image" >-->

        <div class="banner-title">

            <h1> Edit Activity</h1>

        </div>



    </div>

</div>    

<div class="container">

	<div class="row">

    <%= form_tag(:controller => "issues", :action => "update") do %>	

        <!-- panel preview -->

        <div class="col-sm-10" >

            <div class="panel panel-inverse" >

                <div class="panel-body form-horizontal payment-form" style="background-color:#663366; -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 3);">

                    <div class="form-group" >

                        <label for="title" class="col-sm-3 control-label" style="color:#ffffff;">Title</label>

                        <div class="col-sm-9">

                            
                            
                            <%= text_field_tag :title, @issue.title %>

                            

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="description" class="col-sm-3 control-label " style="color:#ffffff;">Description</label>

                        <div class="col-sm-9">

                            <%= text_area_tag(:content,@issue.content, :size => "44x6") %>

                        </div>

                    </div> 

                    <div class="form-group">

                        <label for="date" class="col-sm-3 control-label" style="color:#ffffff;">Date<br/>(Format: yyyy-mm-dd[blank]hh:mm:ss)</label>

                        <div class="col-sm-9">

                            

                            <%= text_field_tag(:dueDate,@issue.dueDate) %>

                        </div>

                    </div>  

 

                    <div class="form-group">

                        <div class="col-sm-12 text-right">

                            <%= submit_tag "Update" ,data: { confirm: "Please click to 'Back to main page' link" }%>
                            <%= link_to ' Back to main page   ', index_path %>

                            

                        </div>

                    </div>

                   

                </div>

            </div>     

                <% end %>

        </div> <!-- / panel preview -->

     

        

          

        





    </div>

	</div>









<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="/node_modules/jquery/dist/jquery.min.js"></script>



<!-- Include all compiled plugins (below), or include individual files as needed --> 

<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/app/assets/javascripts/login.js"></script>









</body>







</html>